body{
    background-color: #f9f9f9;
    overflow-x: hidden;
}
.fragrance-profile{
    background-color: white;
}
.profile-text{
    color: #ff408e;
    font-weight: 700;
}


.tab-button-reco{
    text-align: center;
    font-weight: 600;
    color: black;
    border: none;
    background-color: #f9f9f9;

}
.tab-button-reco.active{
    border-bottom: 2px solid #ff408e;
}

.retake-quiz-btn{
    border: none;
    background-color: #ff408e;
    color: white;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}
.retake-quiz-btn:hover{
    background-color: #ff5fa0;
    transition: 0.9s;
}


/* product-card */
.card{
    border: none;
    box-shadow: 0 4px 32px rgba(62,18,35,.2);
    z-index: 0;
    transition: 0.3s all;
}
.card:hover{
   box-shadow: 0px 15px 40px gray;
}
.plus-icon a{
    text-decoration: none;
    color: black;
}
.plus-icon a:hover{
   color: #ff408e;
   cursor: pointer;
}
.see-detail a{
    text-decoration: none;
    color: #ff408e;
}

.product-item img{
    width: 40px;
    margin-left: 5px;
}

/* view more button */
.view-more{
    text-align: center;
}
.view-more button{
    border: 1px solid #ff408e;
    width: 350px;
    padding: 16px 0px;
    color: #ff408e;
    font-size: 18px;
    font-weight: 600;

}
.view-more button:hover{
    background-color: #ff408e;
    color: white;
}


/* new-page */

.nav-tabs .tab-button{
    text-align: center;
    font-weight: 500;
    color: black;
    border: none;
}
.nav-link.tab-button.active{
    border-bottom: 2px solid #ff408e;
    background-color: #f9f9f9;
    color: black;
}
.rated-star{
    font-size: 13px;
    color: #ff408e;
}
.review a{
    text-decoration: none;
    color: #ff408e;
    font-weight: 500;
}
.product-name a{
    text-decoration: none;
    color: black;
}
.product-name a:hover{
    color: #ff408e;
}


/* Featured Brand page */

.add-queue-btn{
    width: 300px;
    background-color: #ff408e;
    padding: 16px 0px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.add-queue-btn:hover{
    background-color: #ff5fa0;
}

.product-img{
    width: 144px;
    height: 144px;
}
.read-more a{
    text-decoration: none;
    font-weight: 600;
    color: #ff408e;
}


/* All Brand page */

.tab-button-brand{
    text-align: center;
    font-weight: 600;
    color: black;
    border: none;
    background-color: #f9f9f9;
}
.tab-button-brand.active{
    border-bottom: 2px solid #ff408e;
}
.letter{
    font-size: 30px;
    font-weight: 600;
}
.perfume-name a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

/* expolore brand */

/* .featured{
    position: relative;
}
.featured-brand-img{
    position: absolute;
} */
.featurd-brand button{
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 8px 24px;
    border-radius: 40px;
    background-color: white;
    border: none;
    font-weight: 600;
}

.explore-brand button{
    border: none;
    background-color: black;
    color: white;
    font-weight: 700;
}
.explore-brand button:hover{
    background-color: rgb(194, 194, 194);
}
.pamela-roland-info a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.discover-brand{
    text-decoration: none;
    color: black;
}
.discover-brand:hover{
    color: black;
}
.clean-brand{
    text-decoration: none;
    color: black;
}
.clean-brand:hover{
    color: black;
}
.view-products{
    color: #ff408e;
    font-weight: 600;
}


/* fragrance pages */

.upgrade-product-btn{
    border: none;
    background-color: #ff408e;
    color: white;
    font-weight: 600;
}
.upgrade-product-btn:hover{
    background-color: #ff5fa0;
    transition: 0.9s;
}
.filter-collection a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.filter-collection a:active{
    color: #ff408e;
}
.ratting-star-r{
    color: #ff408e;
}
.ratting-star-s{
    color: gainsboro;
}
.ratting-up{
    font-weight: 600;
}
.input-checkbox{
    font-size: 25px;
    background-color: #f2f5f8 !important;
    border: 1px solid #dcdfe5 !important;
    border-radius: 0% !important;
    cursor: pointer;
}
.input-checkbox:checked{
    background-color: #ff408e !important;
    border: #ff408e !important;
}

.form-check-text{
    font-weight: 600;
}

.form-scroll{
    max-height: 450px;
    overflow-y: scroll;
}
.flower-text p{
    padding-top: 5px;
    color: white;
    opacity: .9;
    font-weight: 600;
}
.show-all-btn{
    background-color: #f9f9f9;
    color: #ff408e;
    font-weight: 600;
    border: none;
}
.show-all-btn:hover{
    border-bottom: 1px solid #ff408e;
}
.show-all-offcanvas{
    width: 100%;
    height: 100%;
    max-width: 750px;
}
.offcanvas-personal-info{
    background-color: #dddd;
}
.offcanvas-photo-gellary{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.clear-all-btn{
    border: 1px solid #ff408e;
    background-color: white;
    font-weight: 700;
    color: #ff408e;
}
.clear-all-btn:hover{
    background-color: #ff408e;
    color: white;
}
.apply-select-btn{
    background-color: #ff408e;
    color: white;
    font-weight: 700;
}
.apply-select-btn:hover{
    background-color: #ff5fa0;
}
.perfume-list{
    background-color: #ffabae;
}

/* collection for monthly page */

.tab-button-perfumes{
    text-align: center;
    font-weight: 600;
    color: black;
    border: none;
    background-color: #f9f9f9;
}
.tab-button-perfumes.active{
    border-bottom: 2px solid #ff408e;
}
.perfume-card{
    background-color: #f9f9f9;
}
.perfume-female{
    text-decoration: none;
}
.perfume-text{
    color: black;
}

/* perfume monthly page */

.perfume-logo img{
    width: 25%;
}
.average-ratting{
    font-size: 15px;
    color: gray;
}
.floral-svg{
    width: 70px;
}
.isabel-orana-bg{
    background-color: white;
}
.isabel-orana-text{
    font-weight: 600;
}
.shipment-product-card{
    width: 100%;
    height: 180px;
}
.add-plus:hover{
    color: #ff408e;
    cursor: pointer;
}
.ratting-star{
    color: #ff408e;
}
.recommendation-quiz{
    text-decoration: none;
    color: black;
}
.recommendation-quiz h1{
    font-weight: 600;
}
.recommendation-quiz h1:hover{
    color: #ff408e;
}
.edit-address{
    color: #ff408e;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.edit-address:hover{
    color: #ff408e;
}

/* clean gragness page */

.tab-button-fragness{
    text-align: center;
    font-weight: 600;
    color: black;
    border: none;
    background-color: #f9f9f9;
}
.tab-button-fragness.active{
    border-bottom: 2px solid #ff408e;
}

/* gifts bambo charcol page */
.price{
    color: #ff408e;
    font-weight: 700;
}
.price-value{
    font-size: 25px;
}
.bambocharcol-img{
    width: 157px;
    height: 157px;
}
.bambo-charcoal-text{
    font-size: 16px;
    font-weight: 600;
}
.bambo-carocel{
    width: 50%;
    height: 50%;
}

/* all gifts page */
.gift-text{
    font-weight: 600;
}
.gift-img{
    width: 60%;
}
.choose-btn{
    background-color: #ff408e;
    color: white;
    font-weight: 600;
    border-radius: 0%!important;
}
.choose-btn:hover{
    color: white;
    background-color: #ff5fa0;
}


/* gifts card page*/

.gifts-card-bg{
    background-image: url("https://cdn.scentbird.com/assets/frontbird-site/images/hero_ff5a02.png");
    background-repeat: no-repeat;
    width: 100%;
    background-color: #f2f5f8;
}
.choose-gift{
    background-color: white;
}
.best-seller-card{
    border: 2px solid #ff408e;
}
.card-occasion{
    background-color: #f2f5f8;
}

/* gifts for him page */

.gift-him-bg{
    background-image: url("https://cdn.scentbird.com/assets/frontbird-site/images/desktopMale_55836f.png");
    background-repeat: no-repeat;
    width: 100%;
}
.options-input{
    width: 245px;
    border: 1px solid #ff408e!important;
}
.gift-input-select{
    background-color: white;
    cursor: pointer;
}
.superhero-perfume{
    color: #ff408e;
    font-weight: 700;
}
.more-info-btn{
    color: black;
}
.more-info-btn:hover{
    color: black;
    text-decoration: none;
}

/* gift subscription page */

.subscription-header{
    background-image: url("https://cdn.scentbird.com/assets/frontbird-site/images/vd-desctop_4e5f6d.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 584px;
}
.subscrib-valentine{
    background-color: #f9f9f9;
    width: 150px;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    color: #ff408e;
    font-weight: 600;
}
.monthly-subscriptions{
    margin-top: -185px;
}
.chose-num{
    width: 24px;
    height: 24px;
    border: 1px solid #dddd;
    border-radius: 50%;
}
.subscription-bottom-bg{
    background-image: url("https://cdn.scentbird.com/assets/frontbird-site/images/background_9b1af4.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}


/* my queue page*/
.carosel-perivious-btn{
    background-color: #ff408e;
    border-radius: 100%;
}
.get-details-btn{
    text-decoration: none;
    color: #ff408e;
    font-weight: 500;
}
.get-details-btn:hover{
    color: #ff408e;
}
.queue-monthly-product{
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.explore-text{
    font-weight: 600;
}
.explore-text:hover{
    color: #ff408e;
}

/* Buy your queue page */
.buy-queue{
    max-width: 800px;
}
.buy-queue-text{
    color: #ff408e;
}
.disable-btn{
    background-color: #e6e6e6;
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.disable-btn-l{
    background-color: #f9f9f9;
}