.shipment-bg{
    height: 100%;
    background-color: #f9f9f9;
}
.card img{
    width: 250px;
}
.shipping-car{
    color: #ff408e;
}
.product-edit{
    border: 1px solid #dcdfe5;
}
.month-subscription{
    border-bottom: 1px solid #dcdfe5;
}
.discount-price{
    color: #ff408e;
    font-weight: 600;
}
.tax{
    font-weight: 600;
}
.total-price{
    text-align: right;
}
.coupon button {
    border: none;
    background-color: #ff408e;
    color: white;
    font-weight: 600;
}
.shipment-input{
    box-shadow: none!important;
}
.amazon-payment-btn{
    background-color: #fad676;
    width: 300px;
    border: none;
}
.paypal-payment-btn{
    width: 300px;
    border: none;
    background-color: #2b70b6;
    padding-top: 5px;
    padding-bottom: 6px;
}
.payment-submit input{
    width: 100%;
    border: none;
    background-color: #ff408e;
    font-weight: 600;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
}
.payment-submit input:hover{
    background-color: #ff5fa0;
    transition: 0.9s;
}